<div class="timeline-box timeline-box-<%= side %>">
    <span class="dot"></span>

    <div class="timeline-box-inner animate-<%= animationDirection %>">
        <span class="arrow"></span>

        <div class="date"><%= item.startDate %> - <%= item.endDate %></div>
        <h3><%= item.title %></h3>
        <h4><%= item.subtitle %></h4>

        <p><%= item.description %></p>
    </div>
</div>